<!DOCTYPE html>
<html>
<head>
	<title>Ultra Slim</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
	<style>
		* {
			font-family: 'Lato', sans-serif;
			font-weight: 100;
		}
		#logo {
			font-size: 6em;
			font-family: 'Lato', sans-serif;
			font-weight: 100;
		}
		#quote {
			font-size: 2em;
		}
		#parent {
			width: 600px;
			margin: auto;
		}
	</style>
</head>
<body>
	<div id="parent">
		<div id="child">
			<p id="logo">UltraSlim</p>
			<p id="quote">{{quote}}</p>
		</div>
	</div>
</body>
</html>